/* body related styles */
* {
  margin: 0;
  padding: 0;
}

/* common styles */
.meri-font {
  font-family: "Merriweather", sans-serif;
}

.inter-font {
  font-family: "Inter", sans-serif;
}

section {
  margin: 50px 100px 100px 100px;
}

.color-white {
  color: #fff;
}

.color-red {
  color: red;
}

/* greeting related styles */
header .greeting-section {
  background-image: url("../images/banners/Banner Image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 300px 150px;
  position: relative;
  height: 100%;
  border-radius: 10px;
  border: none;
}

.greeting-section::before {
  content: "";
  position: absolute;
  top: 2.5px;
  right: 2.5px;
  bottom: 2.5px;
  left: 2.5px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.greeting-title,
.greeting-description {
  position: relative;
  z-index: 2;
  text-align: center;
  margin-bottom: 10px;
}

.greeting-title {
  font-size: 22px;
  font-weight: 300;
}

.greeting-description {
  font-size: 40px;
}

/* discount section related styles */
.discount-section {
  text-align: center;
  /* line-height: 40px; */
}

.discount-amount {
  font-size: 50px;
  margin-bottom: 30px;
}

.discount-deal {
  font-size: 12px;
  margin-bottom: 12px;
}

.discount-categorie {
  font-size: 24px;
  margin-bottom: 30px;
}

.discount-section .new-year-img {
  width: 600px;
}

/* party section related styles */
.party-section {
  background-image: url("../images/banners/Vectorrr.png");
  background-position: center;
  background-size: cover;
  height: 100%;
  padding: 80px 400px 180px 80px;
}
