/* body related styles */
* {
  margin: 0;
  padding: 0;
}

/* common styles */
.meri-font {
  font-family: "Merriweather", sans-serif;
}

.inter-font {
  font-family: "Inter", sans-serif;
}

section {
  border-radius: 10px;
  margin: 50px 100px 100px 100px;
}

.color-white {
  color: #fff;
}

.color-red {
  color: red;
}

.description {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 22px;
  color: #7e7c82;
  font-family: inter, sans-serif;
}

/* greeting related styles */
header .greeting-section {
  background-image: url("../images/banners/Banner Image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 300px 150px;
  position: relative;
  height: 100%;
  border: none;
}

.greeting-section::before {
  content: "";
  position: absolute;
  top: 2.5px;
  right: 2.5px;
  bottom: 2.5px;
  left: 2.5px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.greeting-title,
.greeting-description {
  position: relative;
  z-index: 2;
  text-align: center;
  margin-bottom: 10px;
}

.greeting-title {
  font-size: 22px;
  font-weight: 300;
}

.greeting-description {
  font-size: 40px;
}

/* discount section related styles */
.discount-section {
  text-align: center;
  /* line-height: 40px; */
}

.discount-amount {
  font-size: 50px;
  margin-bottom: 30px;
}

.discount-deal {
  font-size: 12px;
  margin-bottom: 12px;
}

.discount-categorie {
  font-size: 24px;
  margin-bottom: 30px;
}

.discount-section .new-year-img {
  width: 600px;
}

/* party section related styles */
.party-section {
  background-image: url("../images/banners/Vectorrr.png");
  background-position: center;
  background-size: auto;
  position: relative;
  height: 10px, 100%;
  padding: 160px 300px 80px 60px;
  border: none;
  background-repeat: no-repeat;
}

.party-section::before {
  content: "";
  top: 2.5px;
  right: 2.5px;
  bottom: 2.5px;
  left: 2.5px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url("../images/icons/Group\ 70.png");
  background-position: 700px center;
  background-size: 240px;
  background-repeat: no-repeat;
}

.party-title,
.party-description,
.party-btn {
  position: relative;
  z-index: 2;
}

.party-title {
  font-size: 40px;
  margin-bottom: 20px;
}

.party-description {
  width: 500px;
}

.party-btn {
  color: #fff;
  background-color: black;
  border: none;
  padding: 10px 20px;
  margin-left: 20px;
  border-radius: 5px;
  border: none;
}

/* invitation section related styles */
.invite-section {
  background: linear-gradient(180deg, #ffe8e8, white);
  padding: 100px;
  font-size: 22px;
  text-align: center;
  line-height: 36px;
  font-weight: 600;
  border: none;
}

.invite-btn {
  margin-top: 40px;
  background-color: red;
  border: none;
  padding: 12px 30px;
  border-radius: 5px;
  font-weight: bold;
}

/* coming offer section related styles */
.coming-offer-section {
  display: flex;
  gap: 80px;
}

.coming-offer-intro {
  margin-top: 50px;
}

.coming-offer-title {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 12px;
}

.coming-offer-info {
  font-weight: 900;
  margin-bottom: 12px;
}

.coming-offer-img {
  margin: 40px 30px 0 0;
  width: 180px;
  border: 8px solid red;
  border-radius: 50%;
  padding: 12px;
}

.coming-offer-outro {
  margin-top: 40px;
}

.year {
  font-size: 24px;
  margin-bottom: 12px;
}

.new-year-img {
  width: 100px;
}

/* holiday discount related styles */
.holi-disc-intro {
  text-align: center;
  margin: 0 200px;
}

.holi-disc-info {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 18px;
}

.holi-disc-title {
  font-weight: bolder;
  font-size: 40px;
  margin-bottom: 18px;
}

.holi-disc-images {
  background-image: url("../images/icons/Group 44.png"),
    url("../images/Rectangle 1.png"), url("../images/icons/Group 96.png"),
    url("../images/Rectangle 2.png");

  background-size: 30%, 28%, 22%, 100%;
  background-position: 600px center, right top, left 250px center, bottom center;
  background-repeat: no-repeat;
  margin: 40px 0px;
  padding: 200px;
}

/* portfolio section related styles */
.portfolio-info,
.portfolio-title {
  margin-bottom: 12px;
}

.portfolio-info {
  font-size: 12px;
  font-weight: 700;
}

.portfolio-title {
  font-size: 28px;
  font-weight: bolder;
}

.portfolio-image {
  width: 32%;
  height: 10%;
}

.portfolio-product-images {
  width: 100%;
  /* background-color: greenyellow; */
}

.portfolio-product-images img {
}

.port-mar-bottom {
  margin-bottom: 19.2px;
}

.port-mar-right {
  margin-right: 19.2px;
}

.port-mar-left {
  margin-left: 22px;
}

/* subscribe section related styles */
.subscribe-section {
  text-align: center;
  line-height: 50px;
  background-color: #fff2f2;
  padding: 70px 0;
}

.subscribe-icon {
  width: 100px;
}

.subscribe-title {
  font-size: 30px;
}

.sub-email-field {
  justify-content: center;
  display: flex;
  border-radius: 20px;
}

input {
  border: none;
  padding: 15px 40px;
  font-size: 14px;
}

input[type="email"] {
  border-radius: 20px 0 0 20px;
}

input[type="button"] {
  background-color: red;
  padding-left: 30px;
  margin-left: 0;
  border-radius: 0 20px 20px 0;
}

/* footer related styles */
.footer-section {
  background-color: black;
  padding: 100px;
  margin: 0;
  border-radius: 0;
  color: white;
  font-weight: 400;
}

.footer-info {
  display: flex;
  gap: 700px;
}

.flex-phn-web {
  display: flex;
  gap: 10px;
  line-height: 36px;
  align-items: center;
}

.footer-phn-web-icon {
  width: 22px;
}

.footer-social-icons {
  margin: 60px 0;
  border: 1px solid rgb(128, 128, 128, 0.5);
  border-left: none;
  border-right: none;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-social-icons img {
  margin: 20px 0;
  width: 40px;
}

.footer-info .un-sub {
  margin-left: 120px;
}
